<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BABPT Dashboard</title>
    <link rel="stylesheet" href="static/css/landing.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div id="container">
        <header>
            <div id="logo-container">
                <img src="static/imgs/logo.png" alt="Logo" class="logo">
            </div>
        </header>
        <main>
            <h1>The BC Marketplace That <br> Handels It All.</h1>
            <button id="login-signup-btn">Log In | Sign Up</button>
            <div class="categories">
                <div class="categories-slide">
                    <img src="static/imgs/tickets.png" />
                    <img src="static/imgs/spaces.png" />
                    <img src="static/imgs/items.png" />
                    <img src="static/imgs/books.png" />
                </div>
                <div class="categories-slide">
                    <img src="static/imgs/tickets.png" />
                    <img src="static/imgs/spaces.png" />
                    <img src="static/imgs/items.png" />
                    <img src="static/imgs/books.png" />
                </div>
                <div class="categories-slide">
                    <img src="static/imgs/tickets.png" />
                    <img src="static/imgs/spaces.png" />
                    <img src="static/imgs/items.png" />
                    <img src="static/imgs/books.png" />
                </div>
            </div>
        </main>
        <img id="aura-png" src="static/imgs/aura.png" alt="Decorative Aura Effect">
    </div>
    <div id="login-popup">
        <a href="/" id="close-button"><i class="fa-solid fa-x"></i></a>
        <div class="form-container sign-up">
            <form>
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or register via email</span>
                <input id="nameSignUp" type="text" placeholder="Name" autocomplete="off" required>
                <input id="emailSignUp" type="email" placeholder="Email" autocomplete="off" required>
                <input id="passwordSignUp" type="password" placeholder="Password" autocomplete="off" required>
                <button>Sign Up</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form>
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or sign in using email / password</span>
                <input id="emailSignIn" type="email" placeholder="Email" autocomplete="off" required>
                <input id="passwordSignIn" type="password" placeholder="Password" autocomplete="off" required>
                <a href="#">Forgot Your Password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>

                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>


    <script src="static/js/popup.js"></script>
</body>

</html>