<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handel Interface</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="static/css/profile.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="nav-left">
                <a href="/dashboard" class="logo-container">
                    <img src="static/imgs/logo.png" alt="Logo" class="logo">
                </a>
            </div>
            <div class="search-bar">
                <div class="search-bar-wrapper">
                    <div class="search-container">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                        <input type="text" class="search-input" placeholder="What are you looking for?">
                        <div class="separator"></div>
                        <button class="search-button">Search</button>
                    </div>
                </div>
            </div>
            <div class="nav-right">
                <div class="dropdown-container">
                    <a class="icon-container user-icon">
                        <i class="fa-solid fa-user icon"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/dashboard" id="create-listing" class="dropdown-item"><i class="fa fa-undo"
                                aria-hidden="true"></i>
                            Return</a>
                        <a id="sign-out" class="dropdown-item"><i class="fas fa-sign-out"></i> Sign Out</a>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="tabs-container">
                <div class="tabs">
                    <div class="slider"></div>
                    <button class="tab active">
                        <i class="fas fa-save"></i>Saved Listings
                    </button>
                    <button class="tab">
                        <i class="fa-solid fa-receipt"></i>History
                    </button>
                </div>
                <div class="toggle-button-container">
                    <button class="toggle-button" id="toggle-button">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="dropdown-create-listing-menu" id="dropdown-create-listing-menu">
                        <button class="dropdown-create-listing-item" id="top-dropdown-item"><i
                                class="fa-solid fa-ticket-simple"></i></button>
                        <button class="dropdown-create-listing-item"><i class="fa-solid fa-house-user"></i></button>
                        <button class="dropdown-create-listing-item"><i class="fa-solid fa-couch"></i></button>
                        <button class="dropdown-create-listing-item" id="bottom-dropdown-item"><i
                                class="fa-solid fa-book"></i></button>
                    </div>
                </div>
            </div>
            <section class="my-listings">
                <h2>My Listings</h2>
                <div class="listings">
                    <button class="nav-btn left">&#9664;</button>
                    <div class="cards"></div>
                    <button class="nav-btn right">&#9654;</button>
                </div>
            </section>
            <section class="saved-listings">
                <h2>Saved Listings</h2>
                <div class="listings">
                    <button class="nav-btn left">&#9664;</button>
                    <div class="cards"></div>
                    <button class="nav-btn right">&#9654;</button>
                </div>
            </section>
            <img id="aura-png" src="static/imgs/aura.png" alt="Decorative SVG">
        </main>
        <aside class="inbox">
            <button class="collapse-btn" id="collapse-btn">
                <i class="fa fa-chevron-right"></i>
            </button>
            <h2>
                INBOX
                <span class="icon-with-badge">
                    <i class="fa-regular fa-envelope"></i>
                    <span class="badge">3</span>
                </span>
            </h2>
            <div class="messages">
                <div class="message-container">
                    <button class="message-button">
                        <img src="static/imgs/silhouette.jpg" alt="Allison J." class="profile-image" />
                        <div class="text-container">
                            <span class="sender-name">Joshua G.</span>
                            <span class="message">Purchased BC @ Rutgers</span>
                        </div>
                    </button>
                </div>
                <div class="message-container">
                    <button class="message-button">
                        <img src="static/imgs/silhouette.jpg" alt="Allison J." class="profile-image" />
                        <div class="text-container">
                            <span class="sender-name">Allison J.</span>
                            <span class="message">Bought the "Communist Manifesto"</span>
                        </div>
                    </button>
                </div>
                <div class="message-container">
                    <button class="message-button">
                        <img src="static/imgs/silhouette.jpg" alt="Allison J." class="profile-image" />
                        <div class="text-container">
                            <span class="sender-name">Jared A.</span>
                            <span class="message">Can you meet outside</span>
                        </div>
                    </button>
                </div>
                <div class="message-container">
                    <button class="message-button">
                        <img src="static/imgs/silhouette.jpg" alt="Allison J." class="profile-image" />
                        <div class="text-container">
                            <span class="sender-name">Vladimir L.</span>
                            <span class="message">Are you subletting this apartment?</span>
                        </div>
                    </button>
                </div>
                <div class="message-container">
                    <button class="message-button">
                        <img src="static/imgs/silhouette.jpg" alt="Allison J." class="profile-image" />
                        <div class="text-container">
                            <span class="sender-name">Kamala H.</span>
                            <span class="message">I can go down to $15</span>
                        </div>
                    </button>
                </div>
            </div>
        </aside>
    </div>
    <script type="module" src="static/js/helperFunctions.js"></script>
    <script type="module" src="static/js/profile.js"></script>
</body>

</html>