* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: #f2f0ef;
}

#container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    font-weight: normal;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 65px;
    width: auto;
    margin-right: 10px;
    padding-top: 10px;
}

main h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 3rem;
    margin-top: 5rem;
    font-weight: normal;
}

#login-signup-btn {
    background: #7f4be2;
    color: #f2f0ef;
    font-size: 2rem;
    font-weight: normal;
    border: none;
    padding: 20px 80px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 5rem;
    transition: opactiy 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

#login-signup-btn:hover {
    opacity: 0.8;
}

#aura-png {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
    z-index: 1;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.categories {
    padding: 60px 0;
    width: 40vw; /* Reduced width */
    margin: 0 auto; /* Center the categories div horizontally */
    background: rgba(0, 0, 0, 0.8);
    white-space: nowrap;
    position: relative;
    border-radius: 10px; /* Optional for rounded edges */
    display: flex; /* Ensure content inside aligns properly */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    overflow: hidden;
}

.categories::before,
.categories::after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px; /* Width of the vertical line */
    margin: 60px 0;
    background: white;
    border-radius: 50px; /* Makes the lines rounded */
    content: "";
    z-index: 2;
}

.categories::before {
    left: 0; /* Position the left line */
}

.categories::after {
    right: 0; /* Position the right line */
}

.categories-slide {
    animation: 35s slide infinite linear;
    display: flex;
}

.categories-slide img {
    height: 100px;
    margin: 0 40px;
    flex-shrink: 0;
}

.categories:hover .categories-slide {
    animation-play-state: paused;
}