* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: #f2f0ef;
}

#container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    font-weight: normal;
}

/* #logo {
    display: flex;
    align-items: center;
    gap: 5px;
} */

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 65px;
    width: auto;
    margin-right: 10px;
    padding-top: 10px;
}

/* #logo-symbol {
    font-size: 2rem;
    font-weight: bold;
}

#logo-text {
    font-size: 1.5rem;
} */

main h1 {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 5rem;
    font-weight: normal;
}

#login-signup-btn {
    background: #7f4be2;
    color: #f2f0ef;
    font-size: 1.75rem;
    font-weight: normal;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 3rem;
    transition: opactiy 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

#login-signup-btn:hover {
    opacity: 0.8;
}

#categories {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.category img {
    width: 40px;
    height: auto;
    margin-bottom: 0.5rem;
}

#aura-png {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
    z-index: 1;
}